<h1><%= @type %></h1>
  <% if @type == "Hinweis" %>
  	<p>
    	Der Wasserstand in der Zisterne ist jetzt &uuml;ber <b><%= @alert %>%</b> und betr&auml;gt jetzt <%= @volume%>l.<br>
  	</p>
  <% else %>
  	<p>
    	Der Wasserstand in der Zisterne ist jetzt unter <b><%= @alert %>%</b> und betr&auml;gt jetzt <%= @volume%>l.<br>
  	</p>
  <% end %>
<p>Viele Grüße, </br>
   André Mellentin
</p> 